<div class="listing_panel_top_section">
  <div class='listing_panel_col_header'>
    recommended:
    {{col_header}}
  </div>
  <div class='list-panel-action-holder'>
    <div id='delete-icon' class='delete-icon'></div>
    <div id='activate-icon' class='activate-icon'></div>
  </div>  
</div>

<div class='listing_panel_col_name_holder'>
  <div class="col_name" contenteditable="true">{{col_name}}</div>
</div>

<div class='listing_panel_required_attribute_holder'>
  <select class="listing_panel_required_attribute" disabled>
    <option class="selected_attribute" value="{{required_attribute}}">
      {{required_attribute_display}}
    </option>
  </select>
</div>    

<div class='listing-panel-sample-data'>
  <div class='listing-panel-sample-data-content' >
    {{sample_data}}
  </div>
</div>